---
import MainLayout from './Layout.astro';

const { frontmatter } = Astro.props; // Accede al frontmatter aquí
---

<MainLayout title={frontmatter.title}>
  <article class="idioma-post"> 
    <h1>{frontmatter.title}</h1>
    {frontmatter.image && <img src={frontmatter.image} alt={frontmatter.title} class="idioma-image" loading="lazy" decoding="async"/>} 
    <div class="idioma-content">
      <p>{frontmatter.description}</p>
      <p class="idioma-niveles">Niveles: {frontmatter.niveles}</p> 
      <slot /> 
    </div>
  </article>
</MainLayout>

<style>
  .idioma-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    color: rgb(var(--accent)); 
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .idioma-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .idioma-niveles {
    color: #666;
    font-style: italic;
    margin-bottom: 1rem; 
  }

  .idioma-content {
    line-height: 1.6;
    font-size: 1.1rem;
  }

  @media (max-width: 768px) {
    .idioma-post {
      padding: 1rem;
    }

    h1 {
      font-size: 2rem;
    }
  }
</style>